/* Light Mode */
.light-header {
    background-color: #ffffff;
    color: #000000;
  }
  
  .light-text {
    color: #000000;
  }
  
  /* Dark Mode */
  .dark-header {
    background-color: #000000;
    color: #ffffff;
  }
  
  .dark-text {
    color: #ffffff;
  }
  